

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
overflow-x: hidden;

background: #741212;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right,  #741212,#1f2f7d);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right,#741212, #1f2f7d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */





}


.hero-main{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 4rem;
}

@media screen and (max-width:800px) {
    .hero-main{
        padding-top: 20rem;
        padding-bottom: 20rem;
    }

    
}



.hero-group{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 4rem;
    perspective: 1000px;
}

.hero-card {
    height: 500px;
    width: 400px;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: all 500ms ease;
    transform-style: preserve-3d;
    position: relative;
    
}

.hero-card .logo {
    width: 200px;
    height: 200px;
    position: absolute;
    bottom: 0;
    right: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateZ(100px);
    rotate: x -30deg;
    z-index: 999999;
    display: none;
}

.hero-card:hover .logo{
    display: flex;
}

.hero-card .logo img {
   width: 100%;
   object-fit: cover;
}

.hero-card.hero-card.spiderman .logo,
.hero-card.hero-card.captain .logo {
    left: 0;
}


.hero-card.iron{
    background-image: url("ironmanback.jpeg");
}
.hero-card.iron::after{
    background-image: url(ironmanfront.png);
}
.hero-card.spiderman{
    background-image: url("spidermanback.png");
}
.hero-card.spiderman::after{
    background-image: url(spidermanfront.png);
}
.hero-card.captain{
    background-image: url("captainamericaback.jpeg");
}
.hero-card.captain::after{
    background-image: url(captainamericafront.png);
    background-size: 250px;
}

.hero-card:hover{
    rotate: x 30deg;
    box-shadow: black 0 0 500px inset, 0px 20px 50px 5px black;
    cursor: pointer;
}

.hero-card::after{
    content: "";
    position: absolute;
    inset: 0;
    background-repeat: no-repeat;
    background-size: 400px;
    background-position: center;
    border-radius: 10px;
    transform: translateZ(300px) ;
    rotate: x -30deg;
    transition: all 200ms ease;
    z-index: 1;
    display: none;
    filter: drop-shadow(5px 5px 10px black);
    
}

.hero-card:hover::after{
    display: flex;
}


